<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.SITE_TAGLINE }}">
    <title>{{ config.SITE_TITLE }}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='c3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='ol.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='custom.css') }}">
  </head>
  <body{% block body_tag %}{% endblock %}>
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('.home') }}">{{ config.SITE_TITLE }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item{% if menu_flights %} active{% endif %}">
              <a class="nav-link" href="{{ url_for('.home') }}">Flights</a>
            </li>
            <li class="nav-item{% if menu_live %} active{% endif %}">
              <a class="nav-link" href="{{ url_for('.live') }}">Live Tracking</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {% block body %}{% endblock %}
        </div>
        <div class="col-md-3 sidebar">
          <div class="card mb-3">
            <div class="card-header">About</div>
            <div class="card-body">
              <p class="card-text">
                This is a simple logbook for Flight Simulation.
              </p>
              <p class="card-text">
                It is a web application that receives data collected
                by <a href="https://www.tfdidesign.com/smartCARS.php">smartCARS</a>, and
                works like a single-user Virtual Airline.
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">Statistics</div>
            <div class="list-group list-group-flush">
              <div class="list-group-item list-group-item-action">Total Hours: {{ total_hours }}</div>
              <div class="list-group-item list-group-item-action">Total Flights: {{ total_flights }}</div>
              <div class="list-group-item list-group-item-action">Average Landing Rate: {{ avg_landing_rate }} fpm</div>
            </div>
          </div>
          {% if not menu_live %}
          <div class="card mb-3">
            <div class="card-header">Live Tracking</div>
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action" href="{{ url_for('.live') }}">
                <span id="card-online">ONLINE</span>
                <span id="card-offline">OFFLINE</span>
              </a>
            </div>
          </div>
          {% endif %}
          <div class="card mb-3">
            <div class="card-header">Disclaimer</div>
            <div class="card-body">
              <p class="card-text">
                All the flight data displayed here is fictional, produced by flight
                simulators, even when the flight number is the same of a real life
                flight.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="copyright text-muted">
            Website powered by:
            <strong>
              <a href="https://github.com/rafaelmartins/myACARS">myACARS {{ version }}</a>
            </strong>
          </p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('.static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='d3.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='c3.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='ol.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='custom.js') }}"></script>
  </body>
</html>
